{% extends 'include/base.html' %}

{% block title %}
Listado de luces
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
{% endblock title %}

{% load static %}<!--cargo carpeta static '-->

{% block content %}
{% include 'include/header.html' %}
{% load rest_framework %}

{% csrf_token %}
<ul>{% for x in luz %}
    <li>
        {% if x.encendido == True %}
         La luz {{x.Luz}} esta prendida
          <button  class="button alert" type="submit" onclick="{apagar( {{x.Luz}} )};">  <!-- pylint: disable=no-member -->
            Apagar Luz {{x.Luz}}
        </button>
        {% else %}
            La luz {{x.Luz}} esta apagada
            <button  class="success button" type="submit" onclick="{prender( {{x.Luz}} )};"> <!-- pylint: disable=no-member -->
                Encender Luz {{x.Luz}}
            </button>
        {% endif %}
        
        <a type="button" class="success button" href="{% url 'luces_app:editar' x.Luz %}"> Editar Luz</a>
        <button  class="success button" type="submit" onclick="{borrar({{x.Luz}})};">borrar</button>

    </li>
    {% endfor %}

</ul>

<h1><a type="button" class="success button" href="/accounts/logout/">desloguearse</a></h1>    

<script>


function prender(valor) {
    var xhttp = new XMLHttpRequest();
    var ItemJSON;
    var one = '{"Luz":';    
    var two = valor.toString();
    var three = ',"encendido": true}';
    ItemJSON = one + two + three;
    var URL;
    URL = 'http://192.168.1.5:8000/api/update/' + two + '/';
    xhttp.open("PUT",URL, true);
    xhttp.setRequestHeader("Content-type", "application/json"); 
    xhttp.send(ItemJSON);
    // location.reload();
}


function apagar(valor) {
    var xhttp = new XMLHttpRequest();
    var ItemJSON;
    var one = '{"Luz":';
    var two = valor.toString();
    var three = ',"encendido": false}';
    ItemJSON = one + two + three;

    var URL;
    URL = 'http://192.168.1.5:8000/api/update/' + two + '/';


    xhttp.open("PUT",URL, true);
    xhttp.setRequestHeader("Content-type", "application/json"); 
    xhttp.send(ItemJSON);
    // location.reload();
}

function borrar(valor) {
    var two = valor.toString();
    var mensaje = "Vas a borrar la siguiente luz: " + two;
    var opcion = confirm(mensaje);
    var xhttp = new XMLHttpRequest();
    var URL;
    
    URL = 'http://192.168.1.5:8000/api/delete/' + two + '/';

    if (opcion == true) {
        mensaje = confirm("Se borrara" + two);
        xhttp.open("DELETE",URL, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        mensaje = "Se borro" + two;
        alert(mensaje)
	}else {
        mensaje = "Se ha cancelado el delete";
        alert(mensaje);
    }
    location.reload();
}

</script>

{% endblock content %}

